.honor-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-5);
}

.honor-subtitle {
  line-height: 1; 
  margin: 0;
  
}


.honor-subtitle-ornament {
  width: 100px;
  height: auto;
  opacity: 0.3;
  margin-top: var(--space-1);
}

.honor-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  width: 100%;
  max-width: 540px; /* ← ajuste AQUI */
  margin: 0 auto;

  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.honor-grid .honor-person:last-child:nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
}

.honor-person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.honor-person img {
  width: 156px;
  height: 156px;
  object-fit: cover;
  border-radius: 50%;
}

.honor-person span {
  font-size: 1.5rem;
  margin-top: var(--space-1)
}
