.honor-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-5);
}

.honor-subtitle {
  line-height: 0; 
}


.honor-subtitle-ornament {
  width: 100px;
  height: auto;
  opacity: 0.3;
}

.honor-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 1.5rem;
  max-width: 280px;   /* largura fixa do grid */
  width: 100%;
  margin: 0 auto;
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
  align-items: center;
}

.honor-grid .honor-person:last-child:nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
}

.honor-person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.honor-person img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.honor-person span {
  font-size: 1.15rem;
  margin-top: var(--space-1)
}
