.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  position: relative;
  width: calc(100% - 48px);
  max-width: 540px;
  aspect-ratio: 1 / 1; 
  background-color: var(--color-background);
  border-radius: 1rem;
  overflow: hidden;
}

.modal iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.button-modal-close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  min-width: 48px;
  min-height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;

  background-color: var(--color-action);
  color: #fff;

  font-size: 2rem;
  line-height: 1;

  cursor: pointer;
}