
.section-separator {
  width: 100%;
  background-color: var(--color-section-separator-background);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 140px;
  padding: var(--space-5) 0;
}

.section-separator-illustration {
  width: 120px;
  height: auto;
  opacity: 0.3;
}