/* Core */
@import url('./design-system/index.css');

/* Components */
@import url('./components/index.css');

/* ---------- Base Reset ---------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-text);
  color: var(--color-text);
  background-color: var(--color-background);
  min-width: 360px;
}

/* ---------- Layout --------------- */
main {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-5);
}

.section-title {
  text-align: center;
  line-height: 0;
}

.section-subtitle {
  text-align: center;
}

.actions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: var(--space-4);
}

.button-primary {
  width: 100%;
  max-width: 360px;
  min-height: 48px;

  padding: 0.9rem 1rem;
  color: #fff;
  border: none;
  border-radius: 999px;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
  background-color: var(--color-action);
  font-family: var(--font-family-base);
  font-size: var(--font-size-button);
  font-weight: 400;
  line-height: 1;
}
